<!DOCTYPE html>
<html lang="kr" xmlns:th="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="UTF-8">
    <title>BBL api</title>
</head>
<body>
<input type="button" value="test bbl" onclick="testAjax()">
</body>
</html>

<script src="http://code.jquery.com/jquery-1.8.3.js"></script>
<script>

    function testAjax() {
        var inputData = {};
        inputData.t1 = "test";
        inputData.t2 = "가나다";
        inputData.t3 = 123;
        inputData.t4 = new Date();
        $.ajax({
            type: "POST",
            // url: "http://172.30.1.30/api/now2",
            // url: "http://43.200.31.249/api/now2",
            url: "http://43.200.31.249/api/getPTLessionVouchars",
            // url: "http://localhost/api/getPTLessionVouchars",
            // url: "http://172.30.1.30/api/getPTLessionVouchars",
            contentType : 'application/json; charset=utf-8',
            data: JSON.stringify(inputData),
            dataType:'json',// xml, json, script, html
            beforeSend:function(rtnVal) {},// 서버 요청 전 호출 되는 함수 return false; 일 경우 요청 중단
            success:function(rtnVal) {
                console.log(rtnVal);
                if (rtnVal.result == true) {
                    alert('API 호출 완료');
                }
                else {
                    alert(rtnVal.errorMsg);
                }
            },// 요청 완료 시
            error:function(rtnVal) {
                alert('API 호출에 실패했습니다.');
            },// 요청 실패.
            complete:function(jqXHR) {
                // alert('complete');
            }// 요청의 실패, 성공과 상관 없이 완료 될 경우 호출
        });
    }

</script>