<?xml version="1.0" encoding="UTF-8"?> <!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="kr.co.onedatatech.bs_hdc.main_mapper">
    <select id="select_now_api" resultType="java.util.HashMap">
        select now() as now;
    </select>

    <select id="getPTLessionVouchars" resultType="java.util.HashMap">
        select idx as index,
        from product
    </select>

    <select id="getPTLessionVoucharsDetail" resultType="java.util.HashMap">
        select *
        from product
        where idx=#{idx}
    </select>

    <select id="getPTTrainers" resultType="java.util.HashMap">
        select *
        from pt_trainer_info_basic
    </select>
</mapper>